@charset 'utf-8';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(34, 34, 34);
  font-family: '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0 auto -60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    margin: 0 auto;
    padding-bottom: 0;
  }
}

.wrapper {
  min-height: 100%;
  height: auto;
}

.navbar.navbar-inverse {
  border-radius: 0;
}

.text-title {
  background-color: #FFF;
  color: rgb(34, 34, 34);
  padding: 0 5px;
  margin: 5px 3px;
  border-radius: 5px;
}

.container.container-welcome {
  color: rgba(255,255,255,.9);
}

.container.container-welcome > .row{
  padding: 1em;
}

.container.container-quiz {
  height: 100vh;
  background-image: url('../img/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container.container-quiz h1, .container.container-quiz h2 {
  color: #FFF;
}

.row-profile {
  margin-bottom: 2em;
}

.profile-container {
  text-align: center;
}

.thumbnail {
  display: inline-block;
  border-radius: 0;
}

.thumbnail .caption {
  padding: 0;
}

@media (min-width: 768px) {

  img.profile_image {
    max-width: 100px;
  }

}

@media (max-width: 767px) {

  img.profile_image {
    max-width: 70px;
  }
}

.quiz-wrapper {
  text-align: center;
  height: 100%;
  min-height: 250px;
}

.quiz-text {
  color: #FFF;
}

.quiz-provider {
  margin: 1em auto 2em auto;
    color: #ddd;
    background-color: rgba(0,0,0,.4);
    display: inline-block !important;
    border-radius: 5px;
    padding: 5px;
}

@media (min-width: 768px) {

  .current-score {
    color: #FFF;
    font-size: 9em;
  }

}

@media (max-width: 767px) {

  .current-score {
    color: #FFF;
    font-size: 5em;
  }

  .quiz-text {
    font-size: 1.5em;
  }

}

.btn-answer {
  margin-bottom: 1em;
}

.btn-correct { 
  color: #ffffff; 
  background-color: #1cb393; 
  border-color: #1baf90; 
} 
 
.btn-correct:hover, 
.btn-correct:focus, 
.btn-correct:active, 
.btn-correct.active { 
  color: #ffffff; 
  background-color: #06a187; 
  border-color: #1baf90; 
}
 
.btn-correct.disabled, 
.btn-correct[disabled], 
fieldset[disabled] .btn-correct, 
.btn-correct.disabled:hover, 
.btn-correct[disabled]:hover, 
fieldset[disabled] .btn-correct:hover, 
.btn-correct.disabled:focus, 
.btn-correct[disabled]:focus, 
fieldset[disabled] .btn-correct:focus, 
.btn-correct.disabled:active, 
.btn-correct[disabled]:active, 
fieldset[disabled] .btn-correct:active, 
.btn-correct.disabled.active, 
.btn-correct[disabled].active, 
fieldset[disabled] .btn-correct.active { 
  background-color: #1cb393; 
  border-color: #1baf90; 
}

@media (min-width: 768px) {
  footer.navbar-bottom {
    height: 60px;
  }
}

@media (max-width: 767px) {
  footer.navbar-bottom {
    height: auto;
  }
}

footer.navbar-bottom {
  border-radius: 0;
  margin-bottom: 0;
}

footer.navbar-bottom ul {
  margin: 15px 0;
}

@media (min-width: 768px) {
  footer.navbar-bottom li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  footer.navbar-bottom li {
    display: block;
    list-style-type: none;
    padding: 10px;
  }
}

footer.navbar-bottom li a {
  color: #fff;
}

.btn-facebook {
  background-color: #3b5998;
  color: #FFF;
}

.btn-facebook:hover, .btn-facebook:focus {
  color: #FFF;
}

@media (max-width: 767px) {

  .quiz-wrapper h1 {
    font-size: 2em;
  }

}


/* contact.html */

.form-feedback {
  padding: 1em;
}

.form-feedback .control-label {
  color: #fff;
  font-size: 1.2em;
}


/* about.html */

.about-container * {
  color: #fff;
}

.about-container hr {
  border-top-color: #999;
}

.about-container blockquote {
  border-left: 5px solid #999;
}

.about-container blockquote footer {
  color: #999;
  margin-left: 1em;
}